<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-edition-heading" data-cy="EditionCreateUpdateHeading" jhiTranslate="measureDetectorApp.edition.home.createOrEditLabel">
        Create or edit a Edition
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div *ngIf="isSaving" class="d-flex align-items-center" style="margin-top: 25px; margin-bottom: 25px">
          <strong>Loading, this can take a while ... </strong>
          <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
        </div>
        <div class="form-group">

          <label class="form-control-label" jhiTranslate="measureDetectorApp.edition.title" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
          <div *ngIf="editForm.get('title')!.invalid && (editForm.get('title')!.dirty || editForm.get('title')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('title')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('title')?.errors?.pattern"
              jhiTranslate="entity.validation.pattern"
              [translateValues]="{ pattern: 'Title' }"
            >
              This field should follow pattern for "Title".
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="measureDetectorApp.edition.createdDate" for="field_createdDate"
            >Created Date</label
          >
          <div class="d-flex">
            <input
              id="field_createdDate"
              data-cy="createdDate"
              type="datetime-local"
              class="form-control"
              name="createdDate"
              formControlName="createdDate"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="measureDetectorApp.edition.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'measureDetectorApp.EditionType.null' | translate }}</option>
            <option *ngFor="let editionType of editionTypeValues" [value]="editionType">
              {{ 'measureDetectorApp.EditionType.' + editionType | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="measureDetectorApp.edition.description" for="field_description"
            >Description</label
          >
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="measureDetectorApp.edition.pDFFileName" for="field_pDFFileName"
            >PDF File Name</label
          >
          <input
            type="text"
            [contentEditable]="false"
            class="form-control"
            readonly="true"
            name="pDFFileName"
            id="field_pDFFileName"
            data-cy="p_DFFileName"
            formControlName="pDFFileName"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="measureDetectorApp.edition.pDFFileName" for="field_pdfFile"
          >PDF File
          </label>
          <input
            type="file"
            class="form-control-file"
            name="pDFFileName"
            accept=".pdf"
            id="field_pdffile"
            (change)="selectFile($event)"
            data-cy="p_file"
            formControlName="pdfFile"
          />
        </div>


          <div class="form-group">
            <label class="form-control-label" jhiTranslate="measureDetectorApp.edition.project" for="field_project"
            >Project</label>
            <input
              type="text"
              class="form-control"
              name="projectId"
              readonly="true"
              id="field_project"
              data-cy="projectId"
              formControlName="projectId"
            />
          </div>
      </div>
      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
