<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="page">
      <h2 data-cy="pageDetailsHeading"><span jhiTranslate="measureDetectorApp.page.detail.title">Page</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ page.id }}</span>
        </dd>
        <dt><span jhiTranslate="measureDetectorApp.page.pageNr">Page Nr</span></dt>
        <dd>
          <span>{{ page.pageNr }}</span>
        </dd>
        <dt><span jhiTranslate="measureDetectorApp.page.imgFileReference">Img File Reference</span></dt>
        <dd>
          <span>{{ page.imgFileReference }}</span>
        </dd>
        <dt><span jhiTranslate="measureDetectorApp.page.measureNumberOffset">Measure Number Offset</span></dt>
        <dd>
          <span>{{ page.measureNumberOffset }}</span>
        </dd>
        <dt><span jhiTranslate="measureDetectorApp.page.nextPage">Next Page</span></dt>
        <dd>
          <span>{{ page.nextPage }}</span>
        </dd>
        <dt><span jhiTranslate="measureDetectorApp.page.edition">Edition</span></dt>
        <dd>
          <div *ngIf="page.edition">
            <a [routerLink]="['/edition', page.edition?.id, 'view']">{{ page.edition?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/page', page.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
