<div>
  <h2 id="page-heading" data-cy="EditionHeading">
    <span jhiTranslate="measureDetectorApp.edition.home.title">Editions</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="measureDetectorApp.edition.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-edition"
        [routerLink]="['/edition-detail/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="measureDetectorApp.edition.home.createLabel"> Create a new Edition </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="editions?.length === 0">
    <span jhiTranslate="measureDetectorApp.edition.home.notFound">No editions found</span>
  </div>

  <div *ngIf="isLoading" class="d-flex align-items-center" style="margin-top: 25px; margin-bottom: 25px">
    <strong>Loading, this can take a while ... </strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>

  <div  class="table-responsive" id="entities" *ngIf="editions && editions.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="title">
            <span jhiTranslate="measureDetectorApp.edition.title">Title</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="measureDetectorApp.edition.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="type">
            <span jhiTranslate="measureDetectorApp.edition.type">Type</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="description">
            <span jhiTranslate="measureDetectorApp.edition.description">Description</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="pDFFileName">
            <span jhiTranslate="measureDetectorApp.edition.pDFFileName">P DF File Name</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="project.id">
            <span jhiTranslate="measureDetectorApp.edition.project">Project</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let edition of editions; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/edition-detail', edition.id, 'view']">{{ edition.id }}</a>
          </td>
          <td>{{ edition.title }}</td>
          <td>{{ edition.createdDate | formatMediumDatetime }}</td>
          <td jhiTranslate="{{ 'measureDetectorApp.EditionType.' + edition.type }}">{{ edition.type }}</td>
          <td>{{ edition.description }}</td>
          <td>{{ edition.pDFFileName }}</td>
          <td>
              <a [routerLink]="['/myprojects', edition.projectId, 'view']">{{ edition.projectId }}</a>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/editing-detail', edition.id, '']"
                class="btn btn-success btn-sm"
                data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.openEditMode">triggered</span>
              </button>
            </div>
            <div class="btn-group">
              <button
                type="submit"
                (click)="triggerDetection(edition.id)"
                class="btn btn-success btn-sm"
                data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.triggerDetection">EditMode</span>
              </button>
            </div>
            <div ngbDropdown container="body" class="d-inline-block">
              <button type="button" class="btn btn-outline-primary" id="dropdown1" ngbDropdownToggle>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.moreOptions">More Options</span>
              </button>
              <div ngbDropdownMenu aria-labelledby="options">

                <button ngbDropdownItem type="submit" (click)="downloadAnnotatedPDF(edition)" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.downloadPDF">Download PDF</span>
                </button>

                <button ngbDropdownItem type="submit" (click)="downloadUnannotatedPDF(edition)" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.downloadUnannotatedPDF">Download PDF</span>
                </button>


                <button ngbDropdownItem type="submit" [routerLink]="['/edition-detail', edition.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

               <button ngbDropdownItem type="submit" [routerLink]="['/edition-detail', edition.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button ngbDropdownItem type="submit" (click)="delete(edition)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
