<div>
<!--  <h4 id="page-heading" data-cy="EditionHeading">-->
<!--    <span jhiTranslate="measureDetectorApp.edition.home.title">Edit Mode</span>-->

<!--    <div class="d-flex justify-content-end">-->
<!--      <button class="btn btn-info mr-2" (click)="reset()" [disabled]="isLoading">-->
<!--        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>-->
<!--        <span jhiTranslate="measureDetectorApp.edition.home.refreshListLabel">Refresh List</span>-->
<!--      </button>-->

<!--    </div>-->
<!--  </h4>-->

  <div id="content" style="height: 78vh; padding: 0;margin-bottom: 11px">
    <div id="viewer" style="width:100%; height:100%;" #viewer></div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="align-self-center mx-auto text-center">
        <button type="button" class="btn btn-primary">Previous</button>
        </div>
        </div>
      <div class="col-sm-4">
        <div class="align-self-center mx-auto text-center">
        <button type="button" class="btn btn-info">Save</button>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="align-self-center mx-auto text-center">
          <button type="button" class="btn btn-primary">Next</button>
        </div>
      </div>
    </div>
  </div>


  <!--  <div class="alert alert-warning" id="no-result" *ngIf="editions?.length === 0">-->
<!--    <span jhiTranslate="measureDetectorApp.edition.home.notFound">No editions found</span>-->
<!--  </div>-->

<!--  <div class="table-responsive" id="entities" *ngIf="editions && editions.length > 0">-->
<!--  </div>-->
</div>
